<VirtualHost *:{{ item.port }}>
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/{{ item.nom_du_site }}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
